---
layout: default
---
<h1>Code Status</h1>

<table class='table table-striped table-condensed'>
  {% for group in site.data.apps %}
    <tr>
      <th>
        {{group[0]}}
      </th>
      <th>
        Issues
      </th>
      <th>
        Pull Requests
      </th>
      <th>
        Travis
      </th>
      <th>
        Coveralls
      </th>
      <th>
        Ruby
      </th>
      <th>
        Gemnasium
      </th>
      <th>
        DependencyCI
      </th>
      <th>
        Codeclimate
      </th>
      <th>
        Heroku
      </th>
    </tr>
    {% for app in group[1] %}
      <tr>
        <td>
          <a href='https://github.com/{{app[1]["github"]}}'>{{app[0]}}</a>
        </td>
        <td>
          <a href='https://github.com/{{app[1]["github"]}}/issues'>
            <img src='https://img.shields.io/github/issues/{{app[1]["github"]}}.svg' alt='Issues'/>
          </a>
        </td>      
        <td>
          <a href='https://github.com/{{app[1]["github"]}}/pulls'>
            <img src='https://img.shields.io/github/issues-pr/{{app[1]["github"]}}.svg?label=pulls' alt='Pull requests'/>
          </a>
        </td>
        <td>
          <a href='https://travis-ci.org/{{app[1]["github"]}}'>
            <img src='https://img.shields.io/travis/{{app[1]["github"]}}/master.svg' alt='Travis'/>
          </a>
        </td>
        <td>
          <a href='https://coveralls.io/github/{{app[1]["github"]}}'>
            <img src='https://img.shields.io/coveralls/{{app[1]["github"]}}.svg' alt='Coveralls'/>
          </a>
        </td>
        <td>
          <img src='https://ruby-version-badger.herokuapp.com/github/{{app[1]["github"]}}' alt='Ruby'/>
        </td>
        <td>
          <a href='https://gemnasium.com/github.com/{{app[1]["github"]}}'>
            <img src='https://img.shields.io/gemnasium/{{app[1]["github"]}}.svg?label=gems' alt='Gemnasium'/>
          </a>
        </td>
        <td>
          <a href='https://dependencyci.com/github/{{app[1]["github"]}}'>
            <img src='https://dependencyci.com/github/{{app[1]["github"]}}/badge' alt='DependencyCI'/>
          </a>
        </td>
        <td>
          <a href='https://codeclimate.com/github/{{app[1]["github"]}}'>
            <img src='https://img.shields.io/codeclimate/github/{{app[1]["github"]}}.svg?label=quality' alt='Codeclimate'/>
          </a>
        </td>
        <td>
          {% if app[1]["heroku"] %}
            <a href='https://dashboard.heroku.com/apps/{{app[1]["heroku"]}}'>
              <img src='https://heroku-badge.herokuapp.com/?app={{app[1]["heroku"]}}&style=flat&svg=1' alt='Heroku'/>
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>
